body {
  font-family: "Open Sans", sans-serif;
  background-color:black;
}

.card-title {
  font: 1000 1.8rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
